@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

.text-stroke-thin-red {
  -webkit-text-stroke: red 1px;
  -webkit-font-smoothing: antialiased;
  font-smooth: always;
}

.text-stroke-thin-white {
  -webkit-text-stroke: white 1px;
  -webkit-font-smoothing: antialiased;
  font-smooth: always;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #ffffff;
}

.hover-underline-animation:after {
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: red;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.Outlinestroke {
  -webkit-text-stroke: 1px white;
  -webkit-text-fill-color: transparent;
}