@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

.customScrollbar{
  scrollbar-width: thin;
  scrollbar-color: #000 #fff;
}

.customScrollbar::-webkit-scrollbar {
  width: 10px;
}

.customScrollbar::-webkit-scrollbar-track { 
  background: #fff;
  border-radius: 10px;
}

.customScrollbar::-webkit-scrollbar-thumb { 
  border-radius: 10px;
  background:#888;
}

.text-stroke-thin-red {
  -webkit-text-stroke: red 1px;
  -webkit-font-smoothing: antialiased;
  font-smooth: always;
}

.text-stroke-thin-white {
  -webkit-text-stroke: white 1px;
  -webkit-font-smoothing: antialiased;
  font-smooth: always;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #ffffff;
}

.hover-underline-animation:after {
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: red;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.Outlinestroke {
  -webkit-text-stroke: 1px white;
  -webkit-text-fill-color: transparent;
}

.border-scoop-right {
  height: 120px;
  width: 220px;
  background: -webkit-radial-gradient(0% 0%, circle, transparent 6%, #D2D2D2 6%) no-repeat, -webkit-radial-gradient(100% 0%, circle, transparent 6%, #D2D2D2 6%) no-repeat, -webkit-radial-gradient(0% 100%, circle, transparent 6%, #D2D2D2 6%) no-repeat, -webkit-radial-gradient(100% 100%, circle, transparent 6%, #D2D2D2 6%) no-repeat;
  background: radial-gradient(circle at 0% 0%, transparent 6%, #D2D2D2 6%) no-repeat, radial-gradient(circle at 100% 0%, transparent 6%, #D2D2D2 6%) no-repeat, radial-gradient(circle at 0% 100%, transparent 6%, #D2D2D2 6%) no-repeat, radial-gradient(circle at 100% 100%, transparent 6%, #D2D2D2 6%) no-repeat;
  background-position: 0% 100%, 100% 0%, 0% 0%, 100% 100%;
  background-size: 75% 75%;
}
.border-scoop-left {
  height: 120px;
  width: 100px;
  background: -webkit-radial-gradient(0% 100%, circle, transparent 9%, #555555 6%) no-repeat, -webkit-radial-gradient(100% 100%, circle, transparent 6%, #555555 6%) no-repeat, -webkit-radial-gradient(0% 0%, circle, transparent 9%, #555555 6%) no-repeat, -webkit-radial-gradient(0% 0%, circle, transparent 6%, #555555 6%) no-repeat;
  background: radial-gradient(circle at 0% 100%, transparent 9%, #555555 6%) no-repeat, radial-gradient(circle at 100% 100%, transparent 6%, #555555 6%) no-repeat, radial-gradient(circle at 0% 0%, transparent 9%, #555555 6%) no-repeat, radial-gradient(circle at 0% 0%, transparent 6%, #555555 6%) no-repeat;
  background-position: 0% 100%, 100% 0%, 0% 0%, 100% 100%;
  background-size: 75% 75%;
}